{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h2>Article n°{{ article.id }} : {{ article.title }}</h2>
                <p>{{ article.content }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}